.imagen{
    background-image: url("../img/imuno.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
}

body{
 background-color: black;
}

.carousel-inner{
    max-height: 300px;
    min-height: 200px;
}

.carrusel{
    position: static;
}
.carousel-inner img{
    max-height: 350px;    
}

